.portfolio__link {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio__item {
  flex-basis: calc(100% / 3 - 30px);
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
  &:hover .img-cover-text {
    transform: translateY(0%);
  }
}
