.menu-nav {
    padding-left: 93px;
    display: flex;
}

.menu-nav{
    &__list {
            display: flex;
            /* flex-wrap: nowrap; */
        }
}

.header-conect {
    /* display: flex; */
    padding-left: 304px;
}

.contact {
    display: flex;
    align-items: center;
}

.menu-nav{
    &__item:not(:last-child) {
            margin-right: 50px;
        }
}
.menu-nav{
    &__link {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--title-text-color);
        }
}