.team {
    margin-bottom: 94px;
    background: var(--secondary-background-color);
}

.team-list {
    display: flex;
    justify-content: center;
    margin-left: -30px;
}

.team-item {
    flex-basis: calc(100% / 4 - 30px);
    width: calc((100% - 90px) / 4);
    margin-left: 30px;
    background: var(--primeri-wite-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}